@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  font-size: 1rem;
  height: 100vh;
  width: 100vw;
  font-weight: 100;
  background: linear-gradient(150deg, #985E6D, #985E6D);
}

#app {
  scroll-behavior: smooth;
  background: linear-gradient(150deg, #fce3ad, #985E6D);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

p, span {
  font-weight: 100;
}

/*-------------------media-device--------------*/
.nav-bar {
  padding: 1.25em;
}
.nav-bar a {
  text-decoration: none;
  color: #fff;
}
.nav-bar button {
  text-decoration: none;
  color: #fff;
}

.logo-navbar {
  width: 100%;
  padding: 10px;
}

.header-none {
  display: none;
}

.my-nav-links {
  width: 25%;
}

.my-navbar-text {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.my-btn-link {
  padding-top: 0 !important;
}

.pre-home {
  padding-top: 10%;
  padding-left: 10%;
  height: 100vh;
  background-image: url("../../../static/images/sunrise-6384297.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.cont-text {
  width: 50%;
  color: #E7DFDD;
}

.cont-img {
  width: 50%;
}
.cont-img img {
  height: 60%;
  margin-left: 30%;
  margin-top: -80px;
}

/*----------Responsive--------*/
.cont-select-group {
  height: 100vh;
  padding-top: 2%;
  color: white;
}
.cont-select-group div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.cont-select-group .cont-table {
  width: 95%;
}

.ocultar {
  display: none;
}

.animation-cont-select-group {
  background-color: #985E6D;
  background: linear-gradient(150deg, #fce3ad, #985E6D, #00c298);
  background-size: 400% 300%;
  -webkit-animation: BgGradient 5s ease infinite;
          animation: BgGradient 5s ease infinite;
}

@-webkit-keyframes BgGradient {
  0% {
    background-position: 0% 50%;
    color: black;
  }
  50% {
    background-position: 100% 50%;
    color: white;
  }
  100% {
    background-position: 0% 50%;
    color: black;
  }
}

@keyframes BgGradient {
  0% {
    background-position: 0% 50%;
    color: black;
  }
  50% {
    background-position: 100% 50%;
    color: white;
  }
  100% {
    background-position: 0% 50%;
    color: black;
  }
}
.select-group {
  height: 90%;
  padding-left: 12%;
}
.select-group h2 {
  font-weight: 400;
}
.select-group div {
  width: 88%;
}

.select-groups-cont-links a {
  margin-right: 5px;
}

.select-group-cont-img {
  padding-left: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.select-group-cont-img img {
  width: 200px;
}

.select-group-cont-img {
  -webkit-animation: move-up-down 3s linear infinite;
          animation: move-up-down 3s linear infinite;
}

@-webkit-keyframes move-up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move-up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
/*-------------------media-device--------------*/
.cont-receive-invitations {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.home {
  height: 100vh;
  width: 100vw;
  color: black;
}
.home h2 {
  margin-top: 2%;
  text-align: center;
  color: black;
}
.home .cont-articles {
  height: 80%;
}
.home .cont-articles .art {
  width: 50%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  text-align: center;
}
.home .cont-articles .art p {
  height: auto;
}

/*--------------------media-device----------------*/
.cont-room {
  height: 100vh;
  width: 90%;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
.cont-room .room-msj {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.cont-room .room-msj .inf {
  height: 15%;
}
.cont-room .room-msj form {
  height: 85%;
}
.cont-room .room-msj form .box {
  height: 70%;
  word-wrap: break-word;
  overflow: hidden;
  overflow-y: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.cont-room .room-msj form .box .cont-msj, .cont-room .room-msj form .box .other-cont-msj {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  min-height: 51px;
  height: auto;
}
.cont-room .room-msj form .box .cont-msj .my-msj, .cont-room .room-msj form .box .other-cont-msj .my-msj {
  min-width: 200px;
  width: 40%;
  background: #7c99ff;
  border-radius: 10px 10px 10px 10px;
  min-height: 36px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  word-wrap: break-word;
}
.cont-room .room-msj form .box .other-cont-msj {
  justify-content: flex-start;
}
.cont-room .room-msj form .box .other-cont-msj .other-avatar {
  margin-right: 2%;
  background: red;
}
.cont-room .room-msj form .box .other-cont-msj .other-msj {
  background: #c7a9a9;
}
.cont-room .room-msj form .cont-send-msj {
  padding-left: 5%;
  height: 30%;
  width: 100%;
  background-color: black;
}
.cont-room .room-msj form .cont-send-msj .field {
  margin-top: 2%;
}
.cont-room .room-msj form .cont-send-msj .field input {
  margin-top: 5px;
  border-radius: 10px;
}
.cont-room .room-msj form .cont-send-msj .field button {
  border-radius: 10px;
}

.cont-err {
  height: 100vh;
}
.cont-err .err-h4 {
  margin-left: 10%;
}

.cont-session {
  overflow: auto;
  width: 100vw;
  height: 100vh;
  padding-top: 3%;
  padding-bottom: 10%;
  background-image: url("../images/silhouettes-5450887_1280.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cont-session .title-session {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.cont-session .title-session h2 {
  font-size: 3em;
  font-weight: 400;
}
.cont-session .frame-session {
  font-weight: bold;
  padding: 2%;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #E7DFDD;
  border-radius: 3px;
  box-shadow: 0 0 10px #F8EEE7;
}
.cont-session .frame-session .session-link {
  text-decoration: none;
  color: #062F4F;
}
.cont-session .frame-session .session-link:hover {
  text-decoration: underline;
}

/*----------Responsive--------*/
th {
  border: 0 !important;
  text-align: center !important;
}

td {
  border: 0 !important;
  text-align: center;
}

.loading {
  height: 40%;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

#spiner2 {
  width: 40px;
  height: 40px;
}

.cont-reInvitations-loading {
  height: 90vh;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont-invitations-loading {
  height: 90vh;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 12%;
}

.pantalla {
  width: 50%;
  height: 70%;
  background: rgba(143, 194, 253, 0.15);
  border: 1px solid black;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1px 1px 1px 1px;
}
.pantalla #elCuerpo {
  width: 95%;
  height: 90%;
  background: #f0ebeb;
  border-radius: 8px;
  padding-top: 12px;
  padding-right: 10px;
  padding-left: 10px;
  overflow: hidden;
  overflow-y: scroll;
}
.pantalla #elCuerpo .contMessage {
  height: auto;
  padding: 12px;
}

.cajitachat {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  min-height: 51px;
  height: auto;
}

.cont-response {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  min-height: 51px;
  height: auto;
}

.text-response {
  min-width: 200px;
  width: 80%;
  background: #7c99ff;
  border-radius: 0px 0px 0px 10px;
  min-height: 36px;
  margin-right: calc(50px + 2%);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  word-wrap: break-word;
}

.subCajitaAzul {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 90%;
}

.textoCajita {
  min-width: 200px;
  width: 80%;
  background: #7c99ff;
  border-radius: 10px 10px 0px 0px;
  min-height: 36px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  word-wrap: break-word;
}

.avatarAzul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  width: 50px;
  height: 50px;
  background: #7c99ff;
  border-radius: 50%;
  font-family: fantasy;
  color: #4a4a4a;
}

.cont-title-invitations {
  height: 10%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.title-invitations {
  text-align: center;
}

/*------------Responsive-----------*/
.modal-content {
  background-color: black !important;
  color: white;
}
.modal-content .btn-close {
  background-color: white;
}

.my-modal-header {
  border-bottom: none !important;
}

.cont-avatar {
  margin-left: 5px;
  background-color: orange;
}

.btn-modal {
  margin-right: 5px;
}

.my-modal-footer {
  border-top: none !important;
}

h1 {
  font-size: 1em;
  color: #ffff;
  font-weight: 400;
}

@media all and (max-width: 992px) {
  .cont-img {
    display: none;
  }

  .pre-home {
    padding-right: 10%;
  }

  .cont-session {
    padding-top: 4%;
    padding-bottom: 0;
    word-wrap: break-word;
  }
  .cont-session .title-session h2 {
    font-size: 2em;
  }
}
@media all and (max-width: 767px) {
  .nav-links a {
    margin-left: 10%;
    margin-top: 1%;
  }
  .nav-links button {
    margin-left: 10%;
    padding: 0;
  }

  .cont-text {
    text-align: center;
    padding-left: auto;
  }

  .select-groups-cont-links a {
    margin-top: 5px;
  }

  .select-group-cont-img {
    display: none;
  }

  .art {
    width: 80% !important;
    height: 20%;
  }
}
@media all and (max-width: 576px) {
  .navbar-brand img {
    display: none !important;
  }

  .cont-session {
    padding: auto;
  }
  .cont-session .title-session {
    width: 90%;
    text-align: center;
  }
  .cont-session .frame-session {
    width: 90%;
    height: 90%;
  }

  .pantalla {
    background-color: transparent;
    border: none;
    height: 80%;
  }
}
/*.chat {
  width: 248px;
  height: 29px;
  background: #ffffff;
  border-radius: 5px;
  border: solid 0px;
}*/
.button1 {
  margin-right: 4px;
}

.noti {
  height: 100px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  border-color: 5px solid black;
  background-color: #c7c7c7;
}