@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  width: 99%;
  height: 100%;
  font-size: 1rem;
  font-weight: 100;
}

/*-------------------media-device--------------*/
.nav-bar {
  padding: 1.25em;
}
.nav-bar a {
  text-decoration: none;
  color: #fff;
}
.nav-bar button {
  text-decoration: none;
  color: #fff;
}

.logo-navbar {
  width: 100%;
  padding: 10px;
}

.header-none {
  display: none;
}

.my-nav-links {
  width: 25%;
}

.my-navbar-text {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.my-btn-link {
  padding-top: 0 !important;
}

.pre-home {
  padding-top: 10%;
  padding-left: 10%;
  height: 100vh;
  background-image: url("../../../static/images/sunrise-6384297.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.cont-text {
  width: 50%;
  color: #E7DFDD;
}

.cont-img {
  width: 50%;
}
.cont-img img {
  height: 60%;
  margin-left: 30%;
  margin-top: -80px;
}

/*----------Responsive--------*/
.cont-select-group {
  height: 100vh;
  padding-top: 2%;
  color: white;
}
.cont-select-group div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.ocultar {
  display: none;
}

.animation-cont-select-group {
  background-color: #985E6D;
  background: linear-gradient(150deg, #fce3ad, #985E6D, #00c298);
  background-size: 400% 300%;
  -webkit-animation: BgGradient 5s ease infinite;
          animation: BgGradient 5s ease infinite;
}

@-webkit-keyframes BgGradient {
  0% {
    background-position: 0% 50%;
    color: black;
  }
  50% {
    background-position: 100% 50%;
    color: white;
  }
  100% {
    background-position: 0% 50%;
    color: black;
  }
}

@keyframes BgGradient {
  0% {
    background-position: 0% 50%;
    color: black;
  }
  50% {
    background-position: 100% 50%;
    color: white;
  }
  100% {
    background-position: 0% 50%;
    color: black;
  }
}
.select-group {
  height: 90%;
  padding-left: 12%;
}
.select-group h2 {
  font-weight: 400;
}
.select-group div {
  width: 88%;
}

.select-groups-cont-links a {
  margin-right: 5px;
}

.select-group-cont-img {
  padding-left: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.select-group-cont-img img {
  width: 200px;
}

.select-group-cont-img {
  -webkit-animation: move-up-down 3s linear infinite;
          animation: move-up-down 3s linear infinite;
}

@-webkit-keyframes move-up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move-up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
/*-------------------media-device--------------*/
.cont-session {
  overflow: auto;
  width: 100vw;
  height: 100vh;
  padding-top: 3%;
  padding-bottom: 10%;
  background-image: url("../images/silhouettes-5450887_1280.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cont-session .title-session {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.cont-session .title-session h2 {
  font-size: 3em;
  font-weight: 400;
}
.cont-session .frame-session {
  font-weight: bold;
  padding: 2%;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #E7DFDD;
  border-radius: 3px;
  box-shadow: 0 0 10px #F8EEE7;
}
.cont-session .frame-session .session-link {
  text-decoration: none;
  color: #062F4F;
}
.cont-session .frame-session .session-link:hover {
  text-decoration: underline;
}

/*----------Responsive--------*/
th {
  border: 0 !important;
  text-align: center !important;
}

td {
  border: 0 !important;
  text-align: center;
}

.loading {
  height: 40%;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

#spiner2 {
  width: 40px;
  height: 40px;
}

h1 {
  font-size: 1em;
  color: #ffff;
  font-weight: 400;
}

@media all and (max-width: 992px) {
  .cont-img {
    display: none;
  }

  .pre-home {
    padding-right: 10%;
  }

  .cont-session {
    padding-top: 4%;
    padding-bottom: 0;
    word-wrap: break-word;
  }
  .cont-session .title-session h2 {
    font-size: 2em;
  }
}
@media all and (max-width: 767px) {
  .nav-links a {
    margin-left: 10%;
    margin-top: 1%;
  }
  .nav-links button {
    margin-left: 10%;
    padding: 0;
  }

  .cont-text {
    text-align: center;
    padding-left: auto;
  }

  .select-groups-cont-links a {
    margin-top: 5px;
  }

  .select-group-cont-img {
    display: none;
  }
}
@media all and (max-width: 576px) {
  .navbar-brand img {
    display: none !important;
  }

  .cont-session {
    padding: auto;
  }
  .cont-session .title-session {
    width: 90%;
    text-align: center;
  }
  .cont-session .frame-session {
    width: 90%;
    height: 90%;
  }
}
/*Clone Whatsap*/
/*
.back-top {
  background-color: #009688;
  height: 15vh;
}

.back-main {
  background-color: #d9dbd5;
  height: 85vh;
}

.back-container {
  position: relative;
}

.front-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.front-container1 {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}

.chat-top {
  background-color: #ededed;
  min-height: 50px;
}

.profile-image {
  margin-top: 7px;
  height: 30px;
  width: 30px;
}

.contacts {
  background-color: #ffffff;
  min-height: 600px;
}

.contact-table-scroll {
  overflow-y: scroll;
  height: 600px;
}

.message-area {
  background-color: #e4e1de;
  min-height: 600px;
}

.message-table-scroll {
  overflow-y: scroll;
  height: 550px;
}

.message-box {
  background-color: #f0f0f0;
}*/
/*-------------------------------*/
/*
.pantalla {
  display: flex;
  margin: auto;
  width: 436px;
  height: 577px;
  background: rgba(143, 194, 253, 0.15);
  border-radius: 12px;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.enviar {
  display: flex;
  margin: auto;
  width: 371px;
  height: 67px;
  background: #d3bdbd;
  border-radius: 9px;
  align-items: center;
  justify-content: center;
}
.botonEnviar {
  width: 67px;
  height: 28px;
  background: #f2fbfb;
  border-radius: 6px;
  border: solid 0px;
  margin-left: 2%;
}
.chat {
  width: 248px;
  height: 29px;
  background: #ffffff;
  border-radius: 5px;
  border: solid 0px;
}
#elCuerpo {
  width: 375px;
  height: 423px;
  background: #f0ebeb;
  border-radius: 8px;
  margin-top: 9%;
  padding-top: 12px;
  padding-right: 50px;
  overflow: hidden;
  overflow-y: scroll;
}

.contMessage {
  height: auto;
  padding: 12px;
}

.cajitachat {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 348px;
  min-height: 51px;
  height: auto;
}

.textoCajita {
  min-width: 200px;
  background: #7cdc6c;
  border-radius: 10px 10px 0px 10px;
  min-height: 36px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  word-wrap: break-word;
}

.subCajitaAzul {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 90%;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  width: 50px;
  height: 50px;
  background: #7cdc6c;
  border-radius: 50%;
  font-family: fantasy;
  color: #4a4a4a;
}
.cajitachatAzul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 348px;
  min-height: 51px;
  height: auto;
  margin-top: 10px;
  word-wrap: break-word;
}

.textoCajitaAzul {
  min-width: 200px;
  width: auto;
  background: #7c99ff;
  border-radius: 10px 10px 10px 0px;
  min-height: 36px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  margin-left: 2%;
  padding: 10px;
}

.button1 {
  margin-right: 4px;
}

.avatarAzul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  width: 50px;
  height: 50px;
  background: #7c99ff;
  border-radius: 50%;
  font-family: fantasy;
  color: #4a4a4a;
}

.noti {
  height: 100px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  border-color: 5px solid black;
  background-color: #c7c7c7;
}
*/