{% extends "auctions/layout.html" %}

{% block body %}
<ul class="row">
{% for buy in buys %}
<li class="card col-3 tarjet" style="width: 15rem;">
    <a class="links-a" href="{% url 'product' buy.product.title buy.product.id %}">
        <div style="height:60%;margin-bottom:10px;">
            <img src="{{ buy.product.image }}" class="card-img-top" alt="image-product" style="width: 100%;">
        </div>
    </a>
    <hr>
    <a class="links-a" href="{% url 'product' buy.product.title buy.product.id %}">
    <div class="card-body">
        <h5 class="card-title">$ {{ buy.product.price }} </h5>
        <p class="card-text">{{ buy.product }}</p>
    </div>
    </a>
</li>
{% empty %}
    <li>No hay Compras</li>
{% endfor %}
</ul>
{% endblock %}