{% extends "auctions/layout.html" %}


{% block body %}
<ul class="row">
    {% for category in categories %}
        <li class="card col-3 tarjet" style="width: 15rem;">
            <div style="height:60%;margin-bottom:10px;">
                <img src="{{ category.urls }}" class="card-img-top" alt="image-product" style="width: 100%;">
            </div>
            <hr>
            <div class="card-body">
                <a href="{% url 'filter' category.type %}" class="links-a">
                    <h5 class="card-title">{{ category.type }} </h5>
                </a>
            </div>
        </li>
    {% empty %}
        <li>No categories.</li>
    {% endfor %}
</ul>
{% endblock %}