{% extends "auctions/layout.html" %}

{% block body %}
<ul class="row">
    {% for product in products %}
        <li class="card col-3 tarjet" style="width: 15rem;">
            <a class="links-a" href="{% url 'product' product.title product.id %}">
                <div style="height:60%;margin-bottom:10px;">
                    <img src="{{ product.image }}" class="card-img-top" alt="image-product" style="width: 100%;">
                </div>
            </a>
            <hr>
            <a class="links-a" href="{% url 'product' product.title product.id %}">
                <div class="card-body">                  
                    <h5 class="card-title">{{ product.price }}</h5>
                    <p class="card-text">{{ product }}</p>   
                </div>
            </a>
        </li>
    {% empty %}
        <li>No product.</li>
    {% endfor %}
</ul>
{% endblock %}