$black-color: #0E0B16;
$blue-color: #4717F6;
$ink-color: #062F4F;
$violet-color: #985E6D;
$gray-color: #E7DFDD;
$pink-color: #F8EEE7;
$yellow-color: #fce3ad;
$font: 'Roboto', sans-serif;
$title: 400;
$text: 100;
$dimension-100: 100%;