.modal-content{
    background-color: black!important;
    color: white;
    .btn-close{
        background-color: white;
    }
}
.my-modal-header{
    border-bottom: none!important;
}

.cont-avatar{
    margin-left: 5px;
    background-color: orange;
}

.btn-modal{
    margin-right: 5px;
}

.my-modal-footer{
    border-top: none!important;
}