.creategroupdetails{
    height: 45vh;
    .not-encounter-group{
        height: 20%;
        margin-bottom: 20px;
    }
    .title-group{
        height: 10%;
    }
    .form-group{
        height: 50%;
    }
}