.home{
    height: 100vh;
    width: 100vw;
    color: black;
    h2 {
        margin-top: 2%;
        text-align: center;
        color:black;
    }
    .cont-articles{
        height: 80%;

        .art{
            width: 50%;
            height: 30%;
            margin-left: auto;
            margin-right: auto;
            background-color: transparent;
            text-align: center;
            p{
                height: auto;
            }
        }
    }
    
}


/*--------------------media-device----------------*/

@mixin home-md{
    .art{
        width: 80%!important;
        height: 20%;
    }
}