.cont-select-group{
    height: 100vh;
    padding-top: 2%;
    color: white;
    div{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .cont-table{
        width: 95%;
    }
}

.ocultar{
    display: none;
}

.animation-cont-select-group{
    background-color: $violet-color;
    background: linear-gradient(150deg, $yellow-color,  $violet-color, #00c298);
    background-size: 400% 300%;
    animation: BgGradient 5s ease infinite;
}

@keyframes BgGradient {
    0% {background-position: 0% 50%;
        color: black;
    }
    50% {background-position: 100% 50%;
        color: white;}
    100% {background-position: 0% 50%;
    color: black;
    }
}

.select-group{
    height: 90%;
    padding-left: 12%;
    h2{
        font-weight: $title;
    }

    div{
        width: 88%;
    }
}

.select-groups-cont-links{
    a{
        margin-right: 5px;
    }
}

.select-group-cont-img{
    padding-left: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    img{
        width: 200px;
    }
}

.select-group-cont-img{
    animation: move-up-down 3s linear infinite;
}

@keyframes move-up-down {
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(30px);
    }

    100%{
        transform: translateY(0);
    }
}

/*-------------------media-device--------------*/
@mixin select-group-md{
    .select-groups-cont-links{
        a{
            margin-top: 5px;
        }
    }
    
    .select-group-cont-img{
        display: none;
    }

}
