@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import './config/variables';
@import './config/Basic.scss';
@import './components/Collapse';
@import './components/Header';
@import './pages/PreHome';
@import './pages/SelectGroup';
@import './pages/ReInvitations';
@import './pages/Home';
@import './components/Session';
@import './components/FormCreate';
@import './components/Table';
@import './components/Loading';
@import './components/Invitations';
@import './extras/Title';
@import './extras/Responsive.scss';

/*.chat {
  width: 248px;
  height: 29px;
  background: #ffffff;
  border-radius: 5px;
  border: solid 0px;
}*/



.button1 {
  margin-right: 4px;
}

.noti {
  height: 100px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  border-color: 5px solid black;
  background-color: #c7c7c7;
}
